<div class="row">
    <div class="col-xs-12">
        <img 
            src="{{recievedRecipe.imagePath}}" 
            alt="{{recievedRecipe.name}}" 
            class="image-responsive"
            style="max-height: 300px;"
        >
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recievedRecipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" appDropdown>Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>To Shopping List</li>
                <li><a href="#"></a>Edit Recipe</li>
                <li><a href="#"></a>Delete Recipe</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recievedRecipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>